.containerWrapper {
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    width: 1400px;
    height: auto;
}

.topWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lkApplicationsNav {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
}

.lkApplicationsNavBtn {
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #58b956;
    color: aliceblue;
}

.lkNavInfoBtn {
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #e6ab4d;
    color: aliceblue;
}