.headerWrapper {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.headerWrapperMain {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.header {
    width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrapperMain {
    height: 60px;
    width: auto;
}

.logoWrapper {
    height: 160px;
    width: auto;
}

.logo {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.dataWrapper {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.dataBlock {
    width: auto;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-start;
    grid-gap: 25px;
}

.userDataWrapper {
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.data {
    width: 100%;
    height: 25px;
}

.dataText {
    font-size: 17px;
    color: rgb(116, 116, 116);
}

.headerHr {
    border-top: 0.1px solid rgb(186, 186, 186);
    margin-top: 10px;
}

.logoutWrapper {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.logoutBtn {
    padding: 5px 15px;
    background-color: rgb(13, 123, 181);
    color: rgb(236, 236, 236);
    border-radius: 10px;
    cursor: pointer;
}

